# IDE and build artifacts
.idea/*
.vscode/*

# Language specific build and cache files
*.iml
Cargo.lock
target/*
out/*
zig-cache
zig-out
__pycache__

# Specific configuration files
.trunk
# Ignore all task and launch configurations
*.json

# Ignore .idea folders in all subdirectories of challenges/coding
challenges/**/*.idea/

# Ignore remaining .vscode in challenges folder (excluding tasks.json)
challenges/**/*.vscode/*

# Ignore remaining .gitignore files
challenges/**/*.gitignore
challenges/**/*target/*
**/*.vscode/*
challenges/**/*.vscode/*
**/*.idea/*
**/*CMakeFiles/*
